#heading{
    height:60px;
    width:100%;
    border:2px solid red
}

#search{
    height:400px;
    width:100%;
    border:5px groove green
}

#quickSearch{
    height:600px;
    width:100%;
    border:2px dashed blue
}

#footer{
    height:60px;
    width:100%;
    border:6px double orange
}